@import url("https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  width: 100vw;
  height: 100vh;

  font-family: "Rhodium Libre", serif;

  overflow-x: hidden;

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;

    position: fixed;
    top: 30px;
    right: 30px;

    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    }
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #000;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    .ham8 .top {
      stroke-dasharray: 40 160;
    }
    .ham8 .middle {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
    }
    .ham8 .bottom {
      stroke-dasharray: 25 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
    }
    .ham8.active .top {
      stroke-dashoffset: -64px;
    }
    .ham8.active .middle {
      //stroke-dashoffset: -20px;
      transform: rotate(90deg);
    }
    .ham8.active .bottom {
      stroke-dashoffset: -60px;
    }
  }

  .home {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      width: 100vw;
      text-align: center;
      margin: 0px;
      font-size: 10vw;
    }

    .arrow {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      img {
        display: flex;
        justify-content: center;
        width: 100px;
      }
    }
  }

  .skills{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
