@mixin rounded {
  border-radius: 100px;
}
$vw100: 1px;

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background-image: url("/src/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Roboto", sans-serif;

  .gradiant {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    .top {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      color: #fff;
      width: 100vw;
      height: 10vh;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
        padding: 0 25px;
        ~ :hover {
          color: rgb(131, 255, 255);
        }
      }
    }

    .mid {
      color: #fff;
      width: 100vw;
      height: 80vh;

      display: flex;
      .title {
        width: 50vw;
        height: 80vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 128px;
          font-weight: Black 900;
        }
      }
      .cards {
        overflow: visible;
        width: 50vw;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img {
          @include rounded();
          width: 250px;
          height: 500px;
          object-fit: cover;
          padding: 0 20px;
        }
      }
    }

    .low {
      color: #fff;
      width: $vw100;
      height: 10vh;

      display: flex;

      .title {
        width: 25vw;
        text-align: right;
      }
      .text {
        width: 50vw;
      }
      .social {
        width: 25vw;
      }
    }

    #myVideo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }
  }
}
